<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 每个 bean 注册一个组件 -->
    <!-- 注册Person，id 是标识，用于获取该组件 -->
    <!--    <bean id="person01" class="com.mfun.bean.Person">-->
    <!--        <property name="name" value="秦海" />-->
    <!--        <property name="age" value="19" />-->
    <!--        <property name="gender" value="男" />-->
    <!--        <property name="email" value="hai@tt.tt" />-->
    <!--    </bean>-->
    <!--    <bean id="person01" class="com.mfun.bean.Person"-->
    <!--          p:name="秦海" p:age="19" p:gender="男" p:email="hai@tt.tt" />-->
    <bean id="person01" class="com.mfun.bean.Person" p:car-ref="car01"/>
    <bean id="car01" class="com.mfun.bean.Car" p:name="奥迪" p:price="51000" />
</beans>